<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updateAt="13/09/2022 01:22:00" createAt="12/09/2022"
  notes="we have two bags that are full,one with plastic and other with glasses"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updateAt="13/09/2022 02:52:00" createAt="13/09/2022" notes="we have two bags that are full"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updateAt="17/09/2022 01:22:00" createAt="14/09/2022" notes="we have two bags that are full" value="$ 25.00"></app-pickup-call-card>


</ion-content>
