<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d995401.7899346052!2d77.07045037592776!3d12.953398494195499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1663056347917!5m2!1sen!2sin"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  <ion-card>
    <ion-card-content>
      <p>Address: </p>
      <p>Complement: </p>
      <p>Neighborhood: </p>
      <p>Zip code: </p>
      <p>City name: </p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating"> Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="newPickupCall()">Create a pickup call</ion-button>
</ion-content>
